{% extends "base.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolcss.css') }}"
{% block content %}
    <div>
        <h3>Tool Manufacturers/Lock Makers</h3>
        <table class="table table-dark table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="col-5">Manufacturer</th>
                    <th class="col-5">Website</th>
                </tr>
            </thead>
            <tbody>
            {% for manufacturer,weburl in tool_data.items() %}
                <tr>
                    <td>{{ manufacturer }}</td>
                    <td>{{ weburl }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h3>Reading Resources</h3>
        <table class="table table-dark table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="col-5">Resource</th>
                </tr>
            </thead>
            <tbody>
                {% for url in resource_data.items() %}
                <tr>
                    <td>{{ url }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}